input.ng-invalid.ng-touched { 
    border: 1px solid red; 
}

.input-group-text {
    border: none;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    font-size: .85rem;
}

.bg-dark, .btn-dark, .btn-dark:active {
    background: rgb(35, 31, 32) !important;
}

.margin-form {
    margin-top: 10%;
}

.link-font {
    font-size: .8rem;
}
