<app-alert 
    class="text-center"
    *ngIf="errorData"
    [errorData]="errorData">
</app-alert>
<div class="row justify-content-center align-items-center" #card>
    <div class="col-md-3 mx-auto">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="text-center">{{title}}</h5> 
                <form class="margin-form" [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-group mb-3">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text bg-dark text-white">
                                    <em class="fa fa-user-circle"></em>
                                </span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control"
                                placeholder="Your Email"
                                name="email"
                                formControlName="email"
                            >
                        </div>
                        <span 
                            class="help-block" 
                            *ngIf="(!form.get('email').valid && form.get('email').touched) && form.get('email').value === null">
                            Enter email
                        </span>
                        <span 
                            class="help-block" 
                            *ngIf="(!form.get('email').valid && form.get('email').touched) && form.get('email').value !== null">
                            Enter valid email
                        </span>
                    </div>
                    <div class="form-group mb-3" *ngIf="username && code">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text bg-dark text-white">
                                    <em class="fa fa-key"></em>
                                </span>
                            </div>
                            <input 
                                type="password" 
                                class="form-control"
                                placeholder="Enter new password"
                                name="password"
                                autocomplete="false"
                                formControlName="password"
                            >
                        </div>
                        <span 
                            class="help-block" 
                            *ngIf="form.get('password').value !== '' && form.get('password').value.length < 8 && title === 'Change Password' && form.get('password').touched">
                            Password length should be 8 or greater
                        </span>
                        <span 
                            class="help-block" 
                            *ngIf="(!form.get('password').valid && form.get('password').touched) && form.get('password').value === ''">
                            Enter Password
                        </span>
                    </div>
                    <div class="form-group mb-3" *ngIf="username && code">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text bg-dark text-white">
                                    <em class="fa fa-key"></em>
                                </span>
                            </div>
                            <input 
                                type="password" 
                                class="form-control"
                                placeholder="Re-enter new password"
                                name="rePassword"
                                autocomplete="false"
                                formControlName="rePassword"
                                [ngClass]="{ 'invalid': form.get('password').value !== form.get('rePassword').value && form.get('rePassword').touched }"
                            >
                        </div>
                        <span 
                            class="help-block" 
                            *ngIf="form.get('password').value !== form.get('rePassword').value && form.get('rePassword').touched && title === 'Change Password'">
                            Password do not match
                        </span>
                    </div>
                    <button 
                        type="submit" 
                        class="btn btn-dark form-control mt-2"
                        [disabled]="submitted"
                    >
                        {{title}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>