input.ng-invalid.ng-touched, .invalid { 
    border: 1px solid red; 
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    font-size: .85rem;
}

.margin-form {
    margin-top: 10%;
}

.input-group-text {
    border: none;
}