.form-control:focus {
    box-shadow: none;
  }
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
.bg {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  height: 88.7vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}
.heading{
  margin-left: 1rem;
}
.title{
  font-family: 'Chilanka', cursive;
}
form{
  margin-top: 10rem;
}
.hyperlink{
  color: black;
}
a:hover {
  text-decoration: underline;
}

