.bg {
  font: 1.3rem "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
}
.table-heading{
  color: white;
  background-color: hsl(345, 6.1%, 12%);
}
.search-bar{
  margin-bottom: 2vh;
}
.inputSearch{
  height:125%;
}
.form-control:focus {
    box-shadow: none;
  }
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
.heading{
  margin-left: 1rem;
}
form{
  margin-top: 10rem;
}
.hyperlink{
  color: black;
}
a:hover {
  text-decoration: underline;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-success {
  font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
  font-size: 13px;
  color:#263852;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #263852;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover:enabled {
  color: #FFF;
  background: #222222;
  border: 2px solid #222222;
}

.table > thead {
  font-size: 1rem;
}

.table > tbody {
  font-size: .9rem;
}
