.bg {
  font: 1.3rem "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
}
.heading {
  font: 1.3rem "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
  padding-left:1vw; 
}
.table-heading{
  color: white;
  background-color: hsl(345, 6.1%, 12%);
}
.search-bar{
  margin-bottom: 2vh;
}
.inputSearch{
  height:125%;
}
.form-control:focus {
    box-shadow: none;
  }
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
.heading{
  padding-left: 2vw;
}
.side-heading{
  padding-left: 2vw;
  font: 1.3rem "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
}
form{
  margin-top: 2rem;
}
.hyperlink{
  color: black;
}
a:hover {
  text-decoration: underline;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-success {
  font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
  font-size: 13px;
  color:#263852;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #263852;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover:enabled {
  color: #FFF;
  background: #76cdd8;
  border: 2px solid #76cdd8;
}
.available {
  margin-top: 1vh;
  margin-bottom: 0;
  padding: 0;
  font-size: 50%;
}
.imageData{
  height:5vh;
  width: 3vw;
  transition: transform .2s;
}
.imageData:hover {
  transform: scale(2.5); 
}

.table > thead {
  font-size: 1.3rem;
}

.table > tbody {
  font-size: 1.1rem;
}

.disabled {
  color: #464547;
}
