.bookform{
    margin:5% 0;
}
button{
    margin-top: 10px;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }