
* {margin: 0; padding: 0;}

.heading{
    color: #263852;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 900;

}
 
.list{
    margin-top: 2em;
    width: 100%;
    
}

img{
    width: 60px;
    height: 60px;
}
 
ul {
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 16px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
  background-color: rgb(210, 214, 168);
}
 
li:hover {
  cursor: pointer;
  background-color: #CEDB56;
}


.swal1-title,
.swal1-content {
  color: red !important;
}
