
* {margin: 0; padding: 0;}

.heading{
    color: #231F20;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 600;

}
 
.list{
    margin-top: 2em;
    width: 50%;
    border : 1px solid lightgrey;
    margin: 0 auto;
}


img{
    width: 60px;
    height: 60px;
}
 
ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  
}
 
h3 {
  color: #231F20;
  font-size: 17.6px;
  margin-bottom:5px;
}

 
li img {
  float: left;
  margin: 0 15px 0 0;
  
}
 
li p {
  color: #231F20;
  font-size :13px;
  font-family: sans-serif;
  font-weight: 300;
  
}


ul:nth-child(odd) {
  background: rgb(231, 231, 231);
}
 
li {
  padding: 5px;
  overflow: auto;
}
h2{
  color: #231F20;
  font-size: 20px;
  margin: 0 auto;
}