<div class="row">
    <div class="col-md-10 mx-auto">
        <app-alert 
            class="text-center"
            *ngIf="errorData"
            [errorData]="errorData">
        </app-alert>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <app-post-feedback></app-post-feedback>
            </div>
            <div class="col-md-6">
                <app-comments></app-comments>
            </div>
        </div>
    </div>
</div>