.nav-color {
    background-color: rgb(35, 31, 32);
    font: 700 1rem/1rem "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
    font-style: normal;
}

.title {
    font-size: 1rem;
    border-left: 0.2rem solid rgb(115, 115, 115);
    padding: 0px 0px 0.1rem 1rem;
    margin: 0px 0px 0.2rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar-brand > img {
    width: 4rem;
}

.nav-link {
    cursor: pointer;
}

.head-description {
    font-size: .9rem;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.active {
    color: #76cdd8 !important;
}

.user_name {   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -2rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .user_name {
        display: none;
    }
}
