<div class="row navbar-dark nav-color">
    <div class="col-md-10 offset-md-1">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../../assets/logo2.png" alt="INF" class="mr-1"> 
                <strong class="title">{{ appTitle }}</strong>
            </a>
            <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
                
                <!-- Before Authentication -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="!userLoginStatus">
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                            <em class="fa fa-user-circle fa-2x"></em>
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" *ngFor="let navLink of beforeLoginNavbar" routerLink={{navLink.routerLink}}  routerLinkActive="active">
                                <em class="fa" [ngClass]="navLink.iconClass"></em> {{ navLink.navTitle }}
                            </a>
                        </div>
                    </li>
                </ul>
        
                <!-- After Authentication -->
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0" *ngIf="userLoginStatus">
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                            <em class="fa fa-book fa-2x"></em>
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" *ngFor="let navLink of afterLoginNavbar" routerLink={{navLink.routerLink}}  routerLinkActive="active">
                                <em class="fa" [ngClass]="navLink.iconClass"></em> {{ navLink.navTitle }}
                            </a>
                            <a class="dropdown-item" routerLink="add"  routerLinkActive="active" *ngIf="currentUser.username === 'admin@epam.com'">
                                <em class="fa fa-plus"></em> Add Book 
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="logout">
                            <em class="fa fa-sign-out fa-2x"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-1 text-white user_name mt-4" *ngIf="userLoginStatus">
        <small>Hi, {{ currentUser.firstName }}</small>
    </div>
</div>
