.imgSize{
    width: 100%;
    height: 100%;
}

.card {
    font-size: 60%;
}

.text-color{
    color: #003366;
}

.background{
    background: #003366;
}

.left-margin{
    margin-left : 1.5em;
}

.top-margin{
    margin-top : 6em;
}

.right-margin{
    margin-top : 3em;
    margin-right : 2em;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.width{
    width: 40%;
}