.container{
    margin-top:2em;
}
.imgSize{
    width: 100%;
    height: 100%;
}

.text-color{
    color: #003366;
}

.card {
    font-size: 75%;
}

.background{
    background: #003366;
}

.left-margin{
    margin-left : 1.5em;
}

.top-margin{
    margin-top : 6em;
}

.right-margin{
    margin-top:0.5em;
    margin-left: 6em;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.width{
    width: 40%;
}
.list-group-item{
    height:4em;
   
}
.input{
    height: 5em;
}
.button{
    height:2.5em;
}
.text-dark{
    font-size: 1.2em;
}
