.imgSize {
  width: 100%;
  height: 100%;
  min-width: 80px;
  min-height: 200px;
}

::ng-deep .mat-datepicker-toggle {
  color: rgb(35, 31, 32);
}

::ng-deep .mat-calendar-body-selected {
  background-color: rgb(35, 31, 32);
}


.text-color {
  color: rgb(35, 31, 32);
}

.card {
  font-size: 75%;
  padding: 1em;
}

.background {
  background: #003366;
}

.left-margin {
  margin-left: 1.5em;
}

.top-margin {
  margin-top: 6em;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.width {
  width: 40%;
}

.list-group-item {
  height: 4em;
}

.text-dark {
  font-size: 1.3em;
  margin-bottom: 0;
}

.padding-zero {
  padding: 0;
}

.inputWidth {
  width: 60%;
}

.list {
  padding: 0;
  margin: 0 0 0 0;
}


.input {
  height: 4.5em;
}

.button {
  margin-top: 0.4em;
}

.description {
  font-family: museo-slab, source-han-sans-simplified-c, "Source Sans Pro", arial, helvetica, sans-serif;
  font-weight: 300;
}

.title {
  font-size: 24px;
}

.details {
  font-size: 14.5px;
}
