body {
    color: rgb(35, 31, 32);
    background-color: #f2f2f2;
    letter-spacing: 0.085rem;
    font: 1.7rem/1.5 "Source Sans Pro", "Hiragino Sans GB", "Microsoft JhengHei", arial, helvetica, sans-serif;
}
